.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    width: 42px;
    height: 24px;
    cursor: pointer;
    left: 16px;
}

.navbar {
    display: none;
}

.menu-toggle .bar {
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.close-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 42px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.close-icon .bar {
    height: 4px;
    width: 50%;
    background-color: white;
    border-radius: 8px;
    transition: all 0.3s ease;
}


.close-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 42px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.close-icon .bar {
    height: 4px;
    width: 50%;
    background-color: white;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.close-icon .bar:nth-child(1) {
    transform: rotate(45deg) translate(0px, 3px);
}

.close-icon .bar:nth-child(2) {
    transform: rotate(-45deg) translate(0px, -3px);
}

.side-menu {
    position: fixed;
    top: 0;
    left: -120px;
    width: 120px;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.85);
    color: white;
    transition: all 0.3s ease;
    z-index: 1000;
    padding: 24px;
    overflow-y: auto;
}

.side-menu-open {
    left: 0;
}

.side-menu a {
    color: white;
    text-decoration: none; /* Tar bort understrykning */
}

.side-menu a:hover {
    color: rgb(226, 123, 63); /* Byt gärna ut mot önskad hover-färg */
}

.side-menu ul {
    list-style: none;
    padding: 0;
    padding-bottom: 24px;
    cursor: pointer;
}

.side-menu ul li {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 0px;
}

.categories-item {
    font-weight: 500;
    color: white;
    cursor: pointer;
  }  

.categories-submenu {
    margin-left: 24px;
}

@media (min-width: 601px) {

    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        width: 42px;
        height: 24px;
        cursor: pointer;
        left: 16px;
    }

    .menu-toggle {
        display: none;
    }

    /*
    .navbar {
        display: flex;
    }
    */


}
