.about-us-container {
    margin: 32px;
}


h2 {
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text {
    text-align: left;
    margin-top: 32px;
    margin-bottom: 400px;
}