/* Container for the search bar */
.search-container {
    display: flex;
    justify-content: flex-start; /* Changed from right to left */
    flex-wrap: wrap; /* Allow wrapping of items */
    width: calc(100% - 32px);
    margin: 8px auto;
    padding: 8px;
    background-color: white; /* Set background color for visibility */
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Style for form */
.search-container form {
    display: flex;
    justify-content: flex-start; /* Changed from center to flex-start */
    width: 100%; /* Make the form take full width */
    max-width: 600px; /* Max width for larger screens */
    margin-right: 8px; /* Space between input and button */
}

/* Styling for the search input field */
.search-container input[type="text"] {
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 25px 0 0 25px;
    border: 2px solid gray;
    outline: none;
    transition: border-color 0.3s ease;
    flex-grow: 1; /* Allow the input to grow */
}

.search-container input[type="text"]:focus {
    border-color: gray;
}

.search-container button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: gray;
    color: white;
    border: 2px solid gray;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-container button:hover {
    background-color: #4521a9;
    border-color: #4521a9;
}

.hamburger-menu {
    margin-right: 8px; /* Space between hamburger menu and search bar */
}

/* Responsive styles */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: stretch; /* Stretch items to take full width */
    }

    .search-container form {
        width: 100%; /* Make form full width on small screens */
    }

    .search-container button {
        width: 100%; /* Full width button */
        margin-top: 8px; /* Space above button */
    }

    .hamburger-menu {
        align-self: flex-start; /* Align hamburger menu to start */
        margin-bottom: 8px; /* Space below hamburger menu */
    }
}

/* Adds some margin to the rest of the content to avoid overlap with the fixed search bar */
.body-content {
    margin-top: 100px; /* Adds enough space for the fixed search bar */
}
