header {
    position: relative;
    color: black;
    text-align: left;
    padding: 0 20px;
    overflow: visible;
    min-height: 240px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url('../../assets/images/backgroundheader.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Gradient fade from #4B4E4B in header */
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
            to bottom, /* #4B4E4B fully opaque at the top */
            rgba(153, 151, 149, 0.6), /* Slightly transparent for mid-gradient */
            rgba(153, 151, 149, 0.3),
            rgba(153, 151, 149, 1)/* More transparent near the bottom */
    );
    z-index: 1;
    pointer-events: none;
}

header h1 {
    font-size: 5rem; /* Make the text larger */
    line-height: 1.2; /* Adjust line height for better spacing */
    text-align: center; /* Center the text */
    color: darkgoldenrod; /* Use your desired text color */
    margin: 0 auto; /* Center horizontally */
    padding: 0;
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

/* You can also increase the size of other text elements within the header */
header p {
    font-size: 1.5rem; /* Example for paragraph text */
    color: white; /* Change as needed */
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2.5rem; /* Further reduced size for very small screens */
    }

    header p {
        font-size: 0.9rem; /* Smaller paragraph size for very small screens */
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 4vw;
    }
}

@media (min-width: 1024px) {

    header {
    background-position: center top -88px;
    }

    h1 {
        font-size: 3vw;
    }
}