header {
    position: relative;
    color: black;
    text-align: left;
    padding: 0 20px;
    overflow: visible;
    min-height: 240px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    background-image: url('../../assets/images/backgroundheader.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/*Gradient*/
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1)); /* Toning */
    z-index: 1;
    pointer-events: none;
}

h1 {
    position: relative;
    z-index: 2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    font-size: 2rem;
    line-height: 1;
    white-space: normal;
    overflow: visible;
    text-overflow: ellipsis;
}

@media (min-width: 768px) {

    h1 {
        font-size: 4vw;
    }
}

@media (min-width: 1024px) {

    header {
    background-position: center top -88px;
    }

    h1 {
        font-size: 3vw;
    }
}