.navbar {
    display: none;
    background-color: gray;
    margin: 8px auto;
    padding: 0px;
    border-radius: 1rem;
    width: calc(100% - 32px);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: rgb(226, 123, 63);
}


@media (min-width: 601px) {

    .navbar {
        display: flex;
    }
}
/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px; /* Set a maximum height */
    overflow-y: auto;  /* Enable vertical scrolling */
}

/* Scrollbar styling (optional) */
.dropdown-content::-webkit-scrollbar {
    width: 8px;
}

.dropdown-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
