
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    margin: 8px auto;
    padding: 8px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-container form {
    display: flex;
    justify-content: center;
    width: 400px;

}

.hamburger-menu {
    display: flex;
}

.search-container input[type="text"] {
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 25px 0 0 25px;
    border: 2px solid gray;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
}

.search-container input[type="text"]:focus {
    border-color: gray;
}

.search-container button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: gray;
    color: white;
    border: 2px solid gray;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-container button:hover {
    background-color: #4521a9;
    border-color: #4521a9;
}

/* Adds some margin to the rest of the content to avoid overlap with the fixed search bar */
.body-content {
    margin-top: 100px; /* Adds enough space for the fixed search bar */
}