footer {
    position: relative;
    color: black;
    text-align: left;
    overflow: visible;
    min-height: 240px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../assets/images/backgroundheader.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Gradient */
footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1)); /* Toning */
    z-index: 1;
}

.footer-left, .footer-center {
    flex: 1;
    margin-bottom: 24px;
    z-index: 2;
}

.footer-left {
    text-align: left;
    margin: 4px;
    margin-left: 24px;
    line-height: 0.8;
    font-weight: 500;
}

.footer-center {
    text-align: center;
    font-style: italic;
    flex: 1;
  }

h3 {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
    font-weight: 150;
    flex-shrink: 1;
    flex-grow: 1;
    font-size: 32px;
    line-height: 1;
    white-space: normal;
    overflow: visible;
    text-overflow: ellipsis;
}

/*
.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline;
    margin: 16px;
}

.footer-links a {
    color: black;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.email-button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    pointer-events: auto;
}

.email-button button {
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.email-button button:hover {
    background-color: #e67350;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}
*/

@media (min-width: 768px) {

    h1 {
        font-size: 4vw;
    }
}

@media (min-width: 1024px) {

    footer {
    display: flex;
    align-items: left;
    justify-content: left;
    background-position: center -150px;
    }

    .footer-left {
        margin-left: 56px;
    }
    
    /*
    .email-button {
        margin-top: 8px;
        margin-left: 24px;
    }

    h1 {
        font-size: 3vw;
    }
    */
}