.difficulty {
    display: flex;
    align-items: center;
}

.difficulty-image {
    width: 12px;
    height: auto;
}

@media (min-width: 768px) {
    .difficulty-image {
        width: 14px;
    }
}

@media (min-width: 1024px) {
    .difficulty-image {
        width: 16px;
    }
}
